/* POSITION TOP RIGHT */
.theme-toggle {
    position: static;
    flex-shrink: 0;
}

/* SWITCH WRAPPER */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
}

.switch input {
    display: none;
}

/* TRACK */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    transition: .3s;
    border-radius: 999px;
}

/* KNOB */
.slider:before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    left: 3px;
    top: 3px;
    background: white;
    transition: .3s;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* ACTIVE STATE */
input:checked + .slider {
    background-color: #4f46e5;
}

input:checked + .slider:before {
    transform: translateX(24px);
}
.star-rating {
    font-size: 1.5rem;
    color: #ffc107;
    cursor: pointer;
}

.star-rating .bi-star-fill {
    color: #ffc107;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star {
    color: #ffc107;
}